image: ruby:latest

# Cache gems in between builds
cache:
  paths:
    - vendor/

before_script:
  - gem install bundler
  - bundle config set --local path 'vendor'
  - bundle install

pages:
  stage: deploy
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
