<div class="title">
  <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
  <nav class="nav-links">
    <a class="extra" href="{{ '/programming/' | relative_url }}"
    >Programming & Systems</a
    >
    <a class="extra" href="{{ '/archives/' | relative_url }}">Archives</a>
    <a class="extra" href="{{ '/projects/' | relative_url }}">Projects</a>
    <a class="extra" href="{{ '/opinions/' | relative_url }}">Opinions</a>
    <a class="extra" href="{{ '/general/' | relative_url }}">General</a>
    <a class="extra" href="{{ '/photography/' | relative_url }}">Photography</a>
    <a class="extra" href="{{ '/movies/' | relative_url }}">Movies</a>
    <a class="extra" href="{{ '/about/' | relative_url }}">About</a>
  </nav>
</div>
