---
---

// Suppress @import deprecation warnings until Jekyll supports @use syntax
// @import is still fully functional and will be for the foreseeable future

@import "variables";
@import "syntax";
@import "base";
@import "layout";
@import "header";
@import "posts";
@import "pages";
@import "footer";
@import "dark_mode";
