<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    {% include head.html %} {% if page.mathjax %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
  </head>

  <body>
    <button id="darkModeToggle"></button>
    <div class="site">{% include title.html %} {{ content }}</div>
    {% include footer.html %}
    <script src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>
  </body>
</html>
