---
layout: default
title: Notes by Anuj
---

<section class="section-list">
  <h2 class="section-title">Recent Posts</h2>
  <ul class="posts">
    {% comment %} Show only the 10 most recent posts {% endcomment %} {% for
    post in site.posts limit: 10 %}
    <li>
      <span class="date">{{ post.date | date: "%d %b %Y" }}</span>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <div style="margin-top: 1rem">
    <a
      href="{{ '/archives/' | relative_url }}"
      style="font-weight: 500; color: var(--color-primary)"
      >View All Posts →</a
    >
  </div>
</section>
